.post-box {
  margin-top: 30px;
}
.post-box h4 {
  font-weight: 600;
  font-size: 22px;
}
.post-box .form-post {
  width: 100%;
}
.post-box .form-post textarea {
  width: 100%;
  resize: none;
  padding: 15px;
  margin-top: 15px;
  font-size: 18px;
  background-color: rgba(128, 128, 128, 0.712);
}
.post-box .form-post textarea.errors {
  outline: 1px solid red;
  box-shadow: 1px 1px 10px red;
}
.post-box .form-post .erorr-message {
  font-size: 18px;
  color: red;
  font-weight: 700;
}
.post-box .form-post button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 33px;
  font-size: 18px;
  font-weight: 700;
  background-color: rgb(59, 207, 59);
  color: #fff;
  margin-left: auto;
  margin-top: 15px;
}
.post-box .form-post button.errors {
  cursor: default;
  background-color: transparent;
}
.post-box .form-post button:hover {
  background-color: rgba(59, 207, 59, 0.658);
  transition: 0.3s linear 0s;
}
.post-box .posts {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.post-box .new-post {
  display: flex;
  column-gap: 10px;
}
.post-box .new-post__text {
  font-size: 18px;
  word-break: break-all;
  line-height: 1.3;
}